#month{
  border-radius: 8px;

}

#day{
  border-radius: 8px;
}

body{
  background-color: grey;
  text-align: center;
}

.span{
  text-decoration-color: white;
}
h{
  font-size: 100px;
}
